.Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  &__label {
    margin: 10px 0;
    color: #fff;

    &__endDateWrapper {
      position: relative;

      &__clearBtn {
        position: absolute;
        top: 30%;
        right: 7%;
        border: none;
        font-size: 12px;
        cursor: pointer;
        color: #fff;
        background-color: transparent;
      }
    }
  }

  @media screen and (max-width: 700px) {
    &__label {
      width: 50%;
      margin: auto;

      &__endDateWrapper__clearBtn {
        right: 20%;
        top: 22%;
      }
    }

    button:not(.Form__label__endDateWrapper__clearBtn) {
      margin-left: calc(50% - 108px);
      width: 90px;
    }
  }
}

.invalidInput {
  border: 2px solid #ff5555;
  box-shadow: 0 0 5px rgba(255, 85, 85, 0.5);
}

.redText {
  color: red;
}
